body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
}

.header {
    background-color: #00509e;
    width: calc(100% - 10px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0 0 0 20px;
    font-size: 24px;
    color: #ffffff;
}

.add-btn {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
}

.add-btn:hover {
    background-color: #001f4d;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

h2 {
    margin-left: 40px;
    width: calc(100% - 10px);
    text-align: left;
    color: #00509e;
    margin-bottom: 5px;
}

h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

table {
    width: calc(100% - 50px);
    border-spacing: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #ffffff;
}

th, td {
    background-color: #ffffff;
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

th:first-child, td:first-child {
    width: 350px;
}

th {
    background-color: #00509e;
    color: white;
}

tr {
    position: relative;
}

tr:hover td {
    background-color: #f1f1f1;
}

.delete-cross {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    color: #dc3545;
    cursor: pointer;
    visibility: hidden;
}

tr:hover .delete-cross {
    visibility: visible;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
    font-size: 17px;
}

input[type="text"], input[type="date"], button[type="submit"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 17px;
}

button[type="submit"] {
    width: 100%;
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
}

button[type="submit"]:hover {
    background-color: #001f4d;
}
